<div class="row jumbotron cardbolos">

  <!-- Button trigger modal -->
  <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
    <div class="titulo-bolo">
      Bolo de Chocolate
    </div>
    <div class="modal-body">
      <div class="row col-sm-4 cardfull">
        <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
        </div>
        <div class="modal-body">
          <div class=" descricao-bolo row col-sm-4 cardfull">
            <div class="card">
              <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                <p class="titulo-modal-descricao-item">
                  Bolo de Chocolate Caseiro
                </p>
                <p class="descricao-modal-descricao-item">
                  Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                </p>
                <span class="badge badge-secondary">R$ 25,00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Button trigger modal -->
    <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
      <div class="titulo-bolo">
        Bolo de Chocolate
      </div>
      <div class="modal-body">
        <div class="row col-sm-4 cardfull">
          <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
          </div>
          <div class="modal-body">
            <div class=" descricao-bolo row col-sm-4 cardfull">
              <div class="card">
                <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                  <p class="titulo-modal-descricao-item">
                    Bolo de Chocolate Caseiro
                  </p>
                  <p class="descricao-modal-descricao-item">
                    Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                  </p>
                  <span class="badge badge-secondary">R$ 25,00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Button trigger modal -->
  <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
    <div class="titulo-bolo">
      Bolo de Chocolate
    </div>
    <div class="modal-body">
      <div class="row col-sm-4 cardfull">
        <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
        </div>
        <div class="modal-body">
          <div class=" descricao-bolo row col-sm-4 cardfull">
            <div class="card">
              <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                <p class="titulo-modal-descricao-item">
                  Bolo de Chocolate Caseiro
                </p>
                <p class="descricao-modal-descricao-item">
                  Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                </p>
                <span class="badge badge-secondary">R$ 25,00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Button trigger modal -->
    <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
      <div class="titulo-bolo">
        Bolo de Chocolate
      </div>
      <div class="modal-body">
        <div class="row col-sm-4 cardfull">
          <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
          </div>
          <div class="modal-body">
            <div class=" descricao-bolo row col-sm-4 cardfull">
              <div class="card">
                <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                  <p class="titulo-modal-descricao-item">
                    Bolo de Chocolate Caseiro
                  </p>
                  <p class="descricao-modal-descricao-item">
                    Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                  </p>
                  <span class="badge badge-secondary">R$ 25,00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Button trigger modal -->
  <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
    <div class="titulo-bolo">
      Bolo de Chocolate
    </div>
    <div class="modal-body">
      <div class="row col-sm-4 cardfull">
        <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
        </div>
        <div class="modal-body">
          <div class=" descricao-bolo row col-sm-4 cardfull">
            <div class="card">
              <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                <p class="titulo-modal-descricao-item">
                  Bolo de Chocolate Caseiro
                </p>
                <p class="descricao-modal-descricao-item">
                  Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                </p>
                <span class="badge badge-secondary">R$ 25,00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Button trigger modal -->
    <button type="button-modal" class="botao-modal" data-toggle="modal" data-target="#exampleModal">
      <div class="titulo-bolo">
        Bolo de Chocolate
      </div>
      <div class="modal-body">
        <div class="row col-sm-4 cardfull">
          <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bolo de Chocolate</h5>
          </div>
          <div class="modal-body">
            <div class=" descricao-bolo row col-sm-4 cardfull">
              <div class="card">
                <img src="../../assets/images/bolo e sorvete.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                  <p class="titulo-modal-descricao-item">
                    Bolo de Chocolate Caseiro
                  </p>
                  <p class="descricao-modal-descricao-item">
                    Preparado com leite, açúcar, ovos, óleo e chocolate em pó.
                  </p>
                  <span class="badge badge-secondary">R$ 25,00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

</div>
